<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.delin.speedlogger"
    android:settingsActivity=".PreferencesActivity"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity android:name=".Activities.MainScreenActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/app_name" android:name=".Activities.SpeedLoggerActivity">
        </activity>
        <activity android:name=".Activities.PreferencesActivity" >
        </activity>
        <activity android:name=".Activities.XYChartBuilder">
        </activity>
        <activity android:name=".Activities.ResultsActivity" >
        </activity>
        <activity android:name=".Activities.LocalTimesActivity"></activity>
    </application>

</manifest>